/* Reset básico para remover margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #720e49;
    color: #fff;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 20px;
}

h2, h4 {
    margin-bottom: 15px;
}

table {
    margin-bottom: 20px;
    background-color: #fff;
}

th, td {
    text-align: left;
}

/* Estilos para o select */
#estabelecimentoSelect {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: auto;
    }

    table, th, td {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    #estabelecimentoSelect {
        font-size: 14px;
    }
}